@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
   
}
img{
    width: 200px;
    height: 200px !important;
    object-fit: cover;
}
.card-title{
    opacity: 0.8;
    color: black !important;
    background-color: #9966CC;
    text-align: center; 
    line-height: 3px;
    font-size: 150% !important;
}


.btnGuardar {
    white-space: normal;
    background: rgb(54, 156, 127);
    border: none;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    width: 170px;
    padding: 8px;
  }
  .btnGuardar:hover {
    color: #bbb;
    cursor: pointer;
  }
  